/*
.sidebar {
    width: 0;
    height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 0px;

    white-space: nowrap;
    
    overflow: visible;
    transition: width 0.3s ease-out;
    position: absolute; 
    z-index: -1000;  
}
  
.sidebar.open {
    width: 400px;
    z-index: 100;
    padding: 20px;
}

.container {
    width: calc(100% - 400px);
    transition: width 0.3s ease-out;
}

*/

.sidebar {
  width: 0;
  height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 0px;
  /*折り返し無効*/
  white-space: nowrap;
  overflow: hidden; /* overflowをhiddenに設定 */
  transition: width 0.3s ease-out, padding 0.3s ease-out; /* paddingの遷移も追加 */
  position: absolute;  /* positionをabsoluteに設定 */
  z-index: 0;  /* z-indexを0に設定 */
}

.sidebar.open {
  width: 400px;
  z-index: 100;
  padding: 20px;
}
