/*.sidebar {
    width: 0;
    height: 120vh;
    background-color: #000;
    color: #fff;
    padding: 20px;
    transition: width 0.3s ease-out;
  }
  
  .sidebar.open {
    width: 400px;
  }
  
  .container {
    width: calc(100% - 300px);
  }
  
*/

.sidebar {
    width: 0;
    height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 0px;
    
    overflow: visible;
    transition: width 0.3s ease-out;
    position: absolute;  /* positionをabsoluteに設定 */
    z-index: -1000;  /* z-indexを設定 */
}
  
.sidebar.open {
    width: 400px;
    z-index: 100;
    padding: 20px;
}

.container {
    width: calc(100% - 400px);
    transition: width 0.3s ease-out;
}
